html {
    background-color: #FFEB3B;
    font-family: 'Oswald', sans-serif !important;


}



@media all and (max-device-width: 480px) { /* MOBILE */

    #main {

        background-color: #FFEB3B;
    }

    #presentation {
        background-color: #FFEB3B;
        color: black;
        height: 60vh;
        width: 100%;
        margin-bottom: 10vh;
    }

    #presentation div {
        margin: 10%;

    }

    #presentation h1 {
        font-size: 3em;
        margin-top: 20vh;
    }

    #presentation p {
        font-family: 'Oswald', sans-serif;
        font-family: 'Lora', serif;
        font-size: 1.10em;
    }


    #presentation #copyright {
        display: none;
    }

    #presentation p a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: black;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px;

      }

      .button span {
        cursor: pointer;
      }



      #projects {
        background-color: black;
        PADDING-top: 5%;
        margin-top: 100px;
        height: 100vh;
        width: 100%;
    }

    #projects div {
        margin: 10%;
        margin-top: 5%;
        height: 10vh;
        border-bottom: 3px solid white;
        transition: 0.5s;
    }


    #projects h3 a {
        color: #FFEB3B;
        text-decoration: none;
    }

    #projects a {
        color: #FFEB3B;
        text-decoration: none;
    }
    #projects h3 {
        color: #FFEB3B;
    }
    #projects p {
        color: #FFF;
    }
    h1 {
        font-family: 'Oswald-Bold', sans-serif;

    }


@media all and (max-device-width: 320px) {

    #main {

        background-color: #FFEB3B;
    }

    #presentation {
        background-color: #FFEB3B;
        color: black;
        height: 80vh;
        width: 100%;
        margin-bottom: 10vh;
    }

    #presentation div {
        margin: 10%;
    }

    #presentation h1 {
        font-size: 3em;
        margin-top: 20vh;
    }

    #presentation p {
        font-family: 'Oswald', sans-serif;
        font-family: 'Lora', serif;
        font-size: 1.10em;
    }


    #presentation #copyright {
        display: none;
    }

    #presentation p a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: black;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px;
      }

      .button span {
        cursor: pointer;
      }



      #projects {
        background-color: black;
        PADDING-top: 5%;
        height: 100vh;
        width: 100%;
    }

    #projects div {
        margin: 10%;
        margin-top: 5%;
        height: 10vh;
        border-bottom: 3px solid white;
        transition: 0.5s;
    }


    #projects h3 a {
        color: #FFEB3B;
        text-decoration: none;
    }

    #projects a {
        color: #FFEB3B;
        text-decoration: none;
    }
    #projects h3 {
        color: #FFEB3B;
    }
    #projects p {
        color: #FFF;
    }
    h1 {
        font-family: 'Oswald-Bold', sans-serif;

    }


}





































}

@media all and (min-device-width: 480px) {  /* DESKTOP */

/* .loader {

    position : fixed;
    z-index: 9999;
    background : url('Images/Spinner-1s-200px.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
    } */

#main {
    display: flex;
    background-color: #FFEB3B;
}

#presentation {
    background-color: #FFEB3B;
    color: black;
    height: 100vh;
    width: 100%;
}

#presentation div {
    margin: 10%;
}

#presentation h1 {
    font-size: 5em;
    margin-top: 25vh;
}
#presentation p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Lora', serif;
    font-size: 1.10em;
}
#presentation #copyright {
    display: none;
}

#presentation p a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


#projects {
    background-color: black;
    width: 100%;
}

#projects div {
    margin: 5%;
    height: 10%;
    border-bottom: 3px solid white;
    transition: 0.5s;
}

#projects div:hover {
    margin: 5%;
    border-bottom: 6px solid white;
}
#projects h3 a {
    color: #FFEB3B;
    text-decoration: none;
}
#projects a {
    color: #FFEB3B;
    text-decoration: none;
}

#projects h3 {
    color: #FFEB3B;
}
#projects p {
    color: #FFF;
}
h1 {
    font-family: 'Oswald-Bold', sans-serif;

}








/* PROJET 1 */

#project-one {
        background-color: black;
        width: 100%;
        height: 100vh;
        overflow: scroll;
}

/* #TGCF-Video {
  margin: 50%;
} */

#project-one img {
  margin: 3%;
}

#project-one div{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-one div img {
    margin:10%;
}


#project-one div button {
    margin-top: 100%;
}


#presentation-project-one {
    background-color: #FFEB3B;
    color: black;
    height: 100vh;
    width: 100%;
}
#presentation-project-one div {
    margin: 10%;
}

#presentation-project-one h1 {
    font-size: 5em;
    margin-top: 20vh;
}
#presentation-project-one p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Lora', serif;
}


.button-project-one {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFF;
    border: none;
    color: black;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button-project-one span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button-project-one span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button-project-one:hover span {
    padding-right: 25px;
  }

  .button-project-one:hover span:after {
    opacity: 1;
    right: 0;
  }

/* PROJET 3 */

#project-three {
        background-color: black;
        width: 100%;
        height: 100vh;
        overflow: scroll;
}

#project-three img {
    margin: 3%;
}

#project-three div {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-three div img {
    margin:10%;
}




#presentation-project-three {
    background-color: #FFEB3B;
    color: black;
    height: 100vh;
    width: 100%;
}
#presentation-project-three div {
    margin: 10%;
}

#presentation-project-three h1 {
    font-size: 5em;
    margin-top: 20vh;
}
#presentation-project-three p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Lora', serif;
}


.button-project-three {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFF;
    border: none;
    color: black;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5%;
  }

  .button-project-three span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button-project-three span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button-project-three:hover span {
    padding-right: 25px;
  }

  .button-project-three:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* PROJET 3 */

#project-three {
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

#project-three img {
margin: 3%;
}

#project-three div {
height: 100vh;

display: flex;
flex-direction: column;
align-items: center;
}

#project-three div img {
margin:10%;
}


#presentation-project-three {
background-color: #FFEB3B;
color: black;
height: 100vh;
width: 100%;
}
#presentation-project-three div {
margin: 10%;
}

#presentation-project-three h1 {
font-size: 5em;
margin-top: 20vh;
}
#presentation-project-three p {
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
}


.button-project-three {
display: inline-block;
border-radius: 4px;
background-color: #FFF;
border: none;
color: black;
text-align: center;
font-size: 1.5em;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button-project-three span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button-project-three span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button-project-three:hover span {
padding-right: 25px;
}

.button-project-three:hover span:after {
opacity: 1;
right: 0;
}

}

/* Projet 4 */


#project-four {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

#project-four img {
margin: 3%;
}

#project-four div{
height: 100vh;

display: flex;
flex-direction: column;
align-items: center;
}

#project-four div img {
margin:10%;
}


#project-four div button {

}


#presentation-project-four {
background-color: #FFEB3B;
color: black;
height: 100vh;
width: 100%;
}
#presentation-project-four div {
margin: 10%;
}

#presentation-project-four h1 {
font-size: 5em;
margin-top: 20vh;
}
#presentation-project-four p {
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
}


.button-project-four {
display: inline-block;
border-radius: 4px;
background-color: #FFF;
border: none;
color: black;
text-align: center;
font-size: 1.5em;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button-project-four span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button-project-four span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button-project-four:hover span {
padding-right: 25px;
}

.button-project-four:hover span:after {
opacity: 1;
right: 0;
}


/* Projet 5 */


#project-five {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

#project-five img {
margin: 3%;
}

#project-five div{
height: 100vh;

display: flex;
flex-direction: column;
align-items: center;
}

#project-five div img {
margin:10%;
}


#project-five div button {
margin-bottom:  50%;
}


#presentation-project-five {
background-color: #FFEB3B;
color: black;
height: 100vh;
width: 100%;
}
#presentation-project-five div {
margin: 10%;
}

#presentation-project-five h1 {
font-size: 5em;
margin-top: 20vh;
}
#presentation-project-five p {
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
}


.button-project-five {
display: inline-block;
border-radius: 4px;
background-color: #FFF;
border: none;
color: black;
text-align: center;
font-size: 1.5em;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button-project-five span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button-project-five span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button-project-five:hover span {
padding-right: 25px;
}

.button-project-five:hover span:after {
opacity: 1;
right: 0;
}
